@model List<Play.Models.VideoInfoModel>;
@using System.Text;
@using System.Runtime;
@{
    ViewData["Title"] = "Index";
}
@{
    int before = Convert.ToInt32(@ViewBag.pageIndex) - 1;
    int next = Convert.ToInt32(@ViewBag.pageIndex) + 1;

}
<script src="~/videojs/video.min.js"></script>
<script src="~/videojs/lang/zh-CN.js"></script>
<link href="~/videojs/video-js.css" rel="stylesheet" />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="media container-md" style="width:360px;height:130px;">
            <a asp-action="Play" asp-route-imgPath="@item.ImgPath" asp-route-playPath="@item.VideoPath">
                <img style="max-width:200px;max-height:120px;" src="@item.ImgPath" class="mr-3">
            </a>
            <div class="media-body container-md">
                <h5 class="mt-0">@item.ImgPath.Substring(item.ImgPath.LastIndexOf('/') + 1)</h5>

            </div>
        </div>
    }
</div>
@*<form asp-action="homepage" method="get">*@
@*</form>*@
<div class="btn-group" role="group">
    <a type="button" asp-action="HomePage" asp-route-pageIndex="@before" class="btn btn-secondary">上一页</a>
    <a type="button" asp-action="HomePage" asp-route-pageIndex="@next" class="btn btn-secondary">下一页</a>
</div>

